<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @category.description %>
</p>

<!--<p>-->
  <!--<strong>User:</strong>-->
  <!--<%= @category.user_id %>-->
<!--</p>-->

<p>
  <strong>Required hours:</strong>
  <%= @category.required_hours %>
</p>

<p>
  <strong>Parent category:</strong>
  <%= @category.supercategory.name if @category.supercategory %>
  <%= 'None' unless @category.supercategory %>
</p>

<p>
  <strong>Certification:</strong>
  <%= @category.certification.name if @category.certification %>
  <%= 'Not Assigned' unless @category.certification %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
